{% extends 'base.html.twig' %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="page-title-container">
        <div class="container">
            <div class="page-title pull-left">
                <h2 class="entry-title">Thank You</h2>
            </div>
            <ul class="breadcrumbs pull-right">
                <li><a href="{{ path('app_index') }}">HOME</a></li>
                <li class="active">Booking result</li>
            </ul>
        </div>
    </div>
    <section id="content" class="gray-area">
        <div class="container">
            <div class="row">
                <div id="main" class="col-sm-8 col-md-9">
                    <div class="booking-information travelo-box">
                        <h2>Booking Status</h2>
                        <hr />
                        <div class="booking-confirmation clearfix">
                            <i class="soap-icon-recommend icon circle"></i>
                            <div class="message">
                                <h4 class="main-message">Thank You. Your Booking Order is Confirmed Now.</h4>
                                <p>A confirmation email has been sent to your provided email address.</p>
                            </div>
                            <a href="#" class="print-button button btn-small">PRINT DETAILS</a>
                        </div>
                        <hr />
                        <h2>Traveler Information</h2>
                        <dl class="term-description">
                            <dt>Booking number:</dt><dd>{{ ticket.pnrNo }}</dd>
                            <dt>Route:</dt><dd>({{ searchTicket.fromWhere }}) to ({{ searchTicket.toWhere }})</dd>
                            <dt>Date:</dt><dd>{{ ticket.departureDate|date('m-d-Y H:i') }}</dd>
                            <dt>First name:</dt><dd>{{ customer.name }}</dd>
                            <dt>Last name:</dt><dd>{{ customer.surname }}</dd>
                            <dt>E-mail address:</dt><dd>{{ customer.email }}</dd>
                            <dt>Phone:</dt><dd>{{ customer.phone }}</dd>
                        </dl>
                    </div>
                </div>
                <div class="sidebar col-sm-4 col-md-3">
                    <div class="travelo-box contact-box">
                        <h4>Need Genius Help?</h4>
                        <p>We would be more than happy to help you. Our team advisor are 24/7 at your service to help you.</p>
                        <address class="contact-details">
                            <span class="contact-phone"><i class="soap-icon-phone"></i> 1-800-123-HELLO</span>
                            <br>
                            <a class="contact-email" href="#">help@genius.com</a>
                        </address>
                    </div>
                    <div class="travelo-box book-with-us-box">
                        <h4>Why Book with us?</h4>
                        <ul>
                            <li>
                                <i class="soap-icon-plane circle"></i>
                                <h5 class="title"><a href="#">35+ Airlines</a></h5>
                                <p>Nunc cursus libero pur congue arut nimspnty.</p>
                            </li>
                            <li>
                                <i class="soap-icon-party circle"></i>
                                <h5 class="title"><a href="#">Low Rates &amp; Savings</a></h5>
                                <p>Nunc cursus libero pur congue arut nimspnty.</p>
                            </li>
                            <li>
                                <i class="soap-icon-support circle"></i>
                                <h5 class="title"><a href="#">Excellent Support</a></h5>
                                <p>Nunc cursus libero pur congue arut nimspnty.</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}

{% block javascripts %}{% endblock javascripts %}