{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>
        article .box { margin-bottom: 0; }
        .listing-style3 .box, .listing-style3.box {
            margin-bottom: 0;
        }
    </style>
{% endblock stylesheets %}

{% block content %}
    <div class="page-title-container">
        <div class="container">
            <div class="page-title pull-left">
                <h2 class="entry-title">Flight Search Results</h2>
            </div>
            <ul class="breadcrumbs pull-right">
                <li><a href="{{ path('app_index') }}">HOME</a></li>
                <li class="active">Flight Search Results</li>
            </ul>
        </div>
    </div>

    <section id="content">
        <div class="container">
            <div id="main">
                <div class="row">
                    <div class="col-sm-4 col-md-3">
                        <h4 class="search-results-title"><i class="soap-icon-search"></i><b id="result_count">...</b> results found.</h4>
                        <div class="toggle-container filters-container">
                            <div class="panel style1 arrow-right">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#airlines-filter" class="collapsed">Airlines</a>
                                </h4>
                                <div id="airlines-filter" class="panel-collapse collapse">
                                    <div class="panel-content">
                                        <ul class="check-square filters-option airlines_ait">
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="panel style1 arrow-right">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#modify-search-panel" class="" aria-expanded="true">Modify Search</a>
                                </h4>
                                <div id="modify-search-panel" class="panel-collapse collapse in">
                                    <div class="panel-content">
                                        <form action="{{ path('app_flight_results') }}" method="get">
                                            <div class="form-group">
                                                <label>Leaving from</label>
                                                <input type="text" name="fromWhere" class="input-text full-width" placeholder="" value="{{ search.fromWhere }}" />
                                            </div>
                                            <div class="form-group">
                                                <label>To</label>
                                                <input type="text" name="toWhere" class="input-text full-width" placeholder="" value="{{ search.toWhere }}" />
                                            </div>
                                            <div class="form-group">
                                                <label>Departure on</label>
                                                <div class="datepicker-wrap">
                                                    <input type="text" name="departDate" class="input-text full-width" placeholder="mm/dd/yy" value="{{ search.departDate }}" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>Arriving On</label>
                                                <div class="datepicker-wrap">
                                                    <input type="text" name="returnDate" class="input-text full-width" placeholder="mm/dd/yy" value="{{ search.returnDate }}" />
                                                </div>
                                            </div>
                                            <div class="form-group" style="float: left; width: 33%;">
                                                <label>Adults</label>
                                                <input type="number" class="input-text full-width" name="whoADT" value="{{ search.whoADT }}" placeholder="" min="1" max="15" />
                                            </div>
                                            <div class="form-group" style="float: left; width: 33%;">
                                                <label>Kids</label>
                                                <input type="number" class="input-text full-width" name="whoKid" value="{{ search.whoKid }}" placeholder="" min="0" max="5" />
                                            </div>
                                            <div class="form-group" style="float: left; width: 33%;">
                                                <label>Infants</label>
                                                <input type="number" class="input-text full-width" name="whoInf" value="{{ search.whoInf }}" placeholder="" min="0" max="3" />
                                            </div>
                                            <br />
                                            <button type="submit" class="btn-medium icon-check uppercase full-width">search again</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8 col-md-9">
                        <div class="sort-by-section clearfix box">
                            <h4 class="sort-by-title block-sm">Sort results by:</h4>
                            <ul class="sort-bar clearfix block-sm">
                                <li class="sort-by-name"><a class="sort-by-container" href="#"><span>name</span></a></li>
                                <li class="sort-by-price"><a class="sort-by-container" href="#"><span>price</span></a></li>
                                <li class="sort-by-rating active"><a class="sort-by-container" href="#"><span>duration</span></a></li>
                            </ul>

                            <ul class="swap-tiles clearfix block-sm">
                                <li class="swap-list active">
                                    <a href="#"><i class="soap-icon-list"></i></a>
                                </li>
                                <li class="swap-grid">
                                    <a href="#"><i class="soap-icon-grid"></i></a>
                                </li>
                                <li class="swap-block">
                                    <a href="#"><i class="soap-icon-block"></i></a>
                                </li>
                            </ul>
                        </div>

                        <div class="flight-list listing-style3 flight" id="flight_results"></div>

                        <a class="button uppercase full-width btn-large" style="display: none;">load more listings</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/flight_results.js') }}"></script>
{% endblock javascripts %}